.SubmitButton {
    margin-top: 15px;
    background-color: #222;
    color: white;
    font-size: 12px;
    display: block;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
  }

  .SubmitButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }